@import "../../styles";

.bgWrapper {
  background-color: rgba($color: $primary-color, $alpha: 0.2);
  position: fixed;
  inset: 0;
  z-index: 99;
  display: none;
  backdrop-filter: blur(5px);
  display: none;
  @include desktop {
    &.show {
      display: block;
    }
  }
}

.container {
  padding: $padding;
  display: none;
  @include desktop {
    @include flex(row, center, space-between);
  }
  & > .left {
    & > a {
      & > img {
        padding-top: $spacing-unit * 2;
        width: 15rem;
      }
    }
  }
  & > .right {
    & > button {
      @include center;
      background-color: transparent;
      border: none;
      outline: none;
      border-radius: 0.5rem;
      font-size: $font-lg + 1;
      cursor: pointer;
      padding: 0.5rem 1rem;
    }
  }
}
