@import "./styles";

.container {
  & > .bottom {
    & > .sidebar {
      width: 27rem;
      position: fixed;
      left: 0;
      top: 0;
      height: 100vh;
      overflow-y: auto;
      overflow-x: hidden;
      z-index: 100;
      background-color: $white-color;
      transition: transform $transition-duration;
      @include desktop {
        &.open {
          transform: translateX(0%);
        }
        &.close {
          transform: translateX(-100%);
        }
      }
    }
    & > .content {
      width: 100%;
      padding-left: 27rem;
      background-color: $bg-color;
      min-height: 100vh;
      transition: padding-left $transition-duration;
      @include desktop {
        padding-left: 0rem;
      }
    }
  }
}
